<nav id="ld-navbar" class="row">
  <div class="col-sm-12">
    <div class="row row2">
      <div class="col-sm-2">
        <h2 style="margin:0px;"><span class="smallnav menu brandName" onclick="openNav()">☰ LOCAL-DEALS</span></h2>
        <h3 style="margin:0px;"><span class="largenav brandName">LOCAL DEALS</span></h3>
      </div>
      <div class="cart largenav col-sm-2">
        <a class="cart-button">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          <a href="#signIn"> <span class="item-number">Sign In/Up</span> </a>
        </a>
      </div>
    </div>
    <div id="mySidenav" class="sidenav">
      <div class="container" style="background-color: #2874f0; padding-top: 10px;">
        <span class="sidenav-heading">Home</span>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      </div>
    </div>
  </div>
</nav>
